@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Merriweather", serif;}

*, *::before, *::after {
  box-sizing: inherit;
}

.sun, .mon, .tues, .tue, .wed, .thu, .fri, .sat {
  border: 1px solid #ccc;
}

td {
  border: 1px solid #ccc;
}

tbody td {
  height: 8em;
  border-bottom-color: #ccc;
  border-right: solid 1px #ccc;
}

ul li {
  border-radius: .3rem;
}

.red {
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  color: #991919;
}

.blue {
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  color: #38448e;
}

.green {
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  color: #51603f;
}

.grey {
  background-color: #f2f2f2;
  border: 1px solid #666;
  color: #333;
}
